<a
	*ngIf="icon || label"
	class="dropdown-item"
	[attr.href]="target ? target : null"
	[attr.target]="openinnew ? '_blank': null"
	[attr.disabled]="disabled ? true : null"
	[class.is-active]="active"
	[class.icon-only]="label.length === 0 && icon"
	(click)="fireValue($event)">
	<ng-container *ngIf="icon">
		<span class="icon" [tmInlineSVG]="icon"></span>
	</ng-container>
	<span *ngIf="label.length > 0">{{ label }}</span>
</a>
<div
	*ngIf="label === undefined && value === undefined"
	class="dropdown-item">
	<ng-content></ng-content>
</div>